
# Path to master subtree branch directory
compass_master : '/qfs/people/brus579/compass_worktrees/master'

# Name of subtree branch to create
branch_name : 'wetdry2'

# Remote compass branch to checkout (assumes remote has been added previously)
remote_branch : 'carolyn/bugfix-dam-break-tests' 

# Master compass branch to use for local merge
master_branch : 'origin/master'

# Path to miniconda installation
miniconda_path : '/qfs/people/brus579/miniconda3'

# MPI implementation to use for conda package install
mpi : 'impi'

# Make target for MPAS-O compilation
make_target : 'intel-mpi' 

# Option for using debug flags for MPAS-O compilation
debug : False

# List of testcases to setup
testcases : ['ocean/drying_slope/250m/sigma/default','ocean/drying_slope/250m/single_layer/default','ocean/drying_slope/1km/sigma/default','ocean/drying_slope/1km/single_layer/default','ocean/dam_break/40cm/default','ocean/dam_break/120cm/default']

# Work directory to use for test case setup
workdir : '/compyfs/brus579/compass_wetdry2'

# Option to update the subtree branch with the remote branch HEAD
update_branch : False 

# Option to perform local merge to master compass branch
local_merge : False

# Option to configure the conda environment
configure_conda : False

# Option to compile MPAS-O
compile_mpas : True

# Option to setup list of testcases
setup_testcases : False

# Option to submit test case jobs
run : True

# Remote to use for E3SM checkout (optional)
e3sm_remote : 'git@github.com:cbegeman/E3SM.git'

# Branch to use for E3SM checkout (optional)
e3sm_branch : 'ocn/dam-break-bugfix'

# Commit to use for E3SM checkout (optional)
e3sm_commit : ''
