compass_master : '/gpfs/fs1/home/sbrus/compass_worktrees/master'
branch_name : 'dam_break'
remote_branch : 'carolyn/add-dam-break-case' 
master_branch : 'origin/master'
miniconda_path : '/lcrc/group/acme/sbrus/miniconda3'
mpi : 'impi'
make_target : 'ifort' 
debug : True
testcases : ['ocean/dam_break/40cm/default','ocean/dam_break/120cm/default']
workdir : '/lcrc/group/acme/sbrus/compass_testing/anvil/dam_break'
run : True

# optional 
update_branch : False      
local_merge : False
configure_conda : False
compile_mpas : True
setup_testcases : False
