
#################################
# Compass/polaris branch options
#################################

# Path to master subtree branch directory
compass_master : '/gpfs/fs1/home/sbrus/compass_worktrees/main'
#polaris_master : '/gpfs/fs1/home/sbrus/polaris_worktrees/main'

# Name of subtree branch to create
branch_name : ''

# Remotes of branch to checkout
remote : 'git@github.com:/compass.git'

# Remote compass branch to checkout 
remote_branch : '' 

# Master compass branch to use for local merge (optional)
package_main_branch : 'origin/main'

# Option to update the subtree branch with the remote branch HEAD
update_branch : True 

# Option to perform local merge to compass/polaris origin/main (or specify package_main_branch)
package_local_merge : True


##################################
# Conda environment setup options
##################################

# Option to configure the conda environment
configure_conda : True

# Path to miniconda installation
miniconda_path : '/gpfs/fs1/home/sbrus/miniconda3'

# MPI implementation to use for conda package install
mpi : 'openmpi'

# Compiler to use for conda package install
compiler : 'gnu'

######################
# E3SM branch options
######################

# Option to locally merge e3sm to origin/master
e3sm_local_merge : True

# Remote to use for E3SM checkout (optional)
e3sm_remote : 'git@github.com:/E3SM.git'

# Branch to use for E3SM checkout (optional)
e3sm_branch : ''

#############################
# MPAS-Ocean compile options
#############################

# Option to compile MPAS-O
compile_mpas : True

# Make target for MPAS-O compilation
make_target : 'gfortran' 

# Option for using debug flags for MPAS-O compilation
debug : True 

# Option for using OpenMP for MPAS-O compilation
openmp : True

#########################
# Testcase setup options
#########################

# Option to setup list of testcases
setup_testcases : True

# Option to submit test case jobs
run : True

# List of testcases to setup
testcases : ['']

# List of suites to setup
suites : ['']

# Work directory to use for test case setup
workdir : ''

# Path for baseline comparison
#baseline : ''

# Path to additional config file
# config_file : ''
