compass_master : '/gpfs/fs1/home/sbrus/compass_worktrees/master'
branch_name : 'bisect'
remote_branch : 'xylar/add_compass_bisect_script' 
master_branch : 'origin/master'
miniconda_path : '/lcrc/group/acme/sbrus/miniconda3'
mpi : 'impi'
make_target : 'ifort' 
debug : False
testcases : ['ocean/dam_break/40cm/default','ocean/dam_break/120cm/default']
workdir : '/lcrc/group/acme/sbrus/compass_testing/anvil/dam_break'
run : False

# optional 
update_branch : False
local_merge : False
configure_conda : True
compile_mpas : False
setup_testcases : False

e3sm_remote : 'git@github.com:E3SM-Project/E3SM.git'
e3sm_branch : 'master'
e3sm_commit : ''
